/* Red = #FFB4B0
Blue = #4DD7FA
Light yellow = #FEFAC0
Dark yellow = #785616 */

/*
798x53 nav
185x372 side selections
597x392 main */

body {
  background: #FFFFFF;
  width: 960px;
  height: 660px;
}

li {
  list-style-type: none;
}

.list-inline li {
  display: inline;
}

.header {
  background-color: #FFB4B0;
  border-style: solid;
  margin-bottom: 15px;
  padding: 2px;
}

nav li a {
  color: blue;
}


aside {
  border-style: solid;
  float: left;
  height: 440px;
  width: 165px;
  padding: 43px;
}

.genre-options {
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 16px;
}

.genre-options:last-child {
  float: right;
}

main {
  background-color: #FEFAC0;
  border-style: solid;
  float: right;
  height: 440px;
  margin: 0;
  padding: 43px;
  width: 597px;
}

.range-slider-cursor {
  width: 100%;
}

.selection-types {
  background-color: #4DD7FA;
  margin: 0;
}

select {
  width: 100%;
}

.check-boxes {
  overflow: hidden;
}

.plain-checkbox {
  background-color: #eee;
  border: 2px solid black;
  border-radius: 4px;
}

.submit-btn {
  margin-top: 0px;
  padding: 22px;
}

button.stylebtn {
  background-color: #eee;
  border: 2px solid black;
  border-radius: 4px;
  height: 25px;
  width: 105px;
}
